/*
 * 初始化样式
 */

*{
	margin: 0px;
	padding: 0px;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
}
a:link{
	text-decoration: none;
}
a:visited{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
a:active{
	text-decoration: none;
}
p{
	word-break: break-all;
}
/********************工作台*************************/
/*
 * 导航部分
 */
.nav{
	width: 100%;
	height: 70px;
	background-color: rgb(19,144,211);
	position: fixed;left: 0px;top: 0px;
	z-index: 999;
}

.nav>img{
	width: 160px;
	height: 55px;
	position: absolute;
	left: 10px;
	top: 10px;
}
/*
 * 导航菜单的ul列表，包含2个图标
 */
.nav_ul{
	width: 100%;
	height: 50px;
	position: absolute;
	right: 0px;
	top: 11px;
}
/*.nav_ul>li{
	width: 100%;
	position: relative;
}*/

/*
 * 图标1
 */
.nav_btn_menu{
	position: absolute;
	right: 60px;
	top: 10px;
	background-color: rgba(0,0,0,0);
	color: rgb(255,255,255);
	font-size: 20px;
	font-weight: 900;
	border: none;
}
/*
 * 图标2
 */
.nav_btn_set{
	position: absolute;
	right: 25px;
	top: 10px;
	background-color: rgba(0,0,0,0);
	color: rgb(255,255,255);
	font-size: 20px;
	font-weight: 900;
	border: none;
}

/*
 * 下拉菜单
 */

/*
 * 下拉菜单共用部分
 */
.nav_dropdown-menu{
	width:100%;
	position: absolute;
	top: 58px;
	border:none;
	border-radius: 0;
	background-color: rgb(19,144,211);
	padding: 0 0 10px 0;
}

.nav_dropdown-menu li{
	height: 40px;
	padding: 0px 0;
	position: relative;
}
.nav_dropdown-menu li a{
	font-size: 18px;
	font-weight: 700;
	color: white;
	text-align: center;
	line-height: 40px;
	width: 100%;
	height: 100%;
	padding: 0px;
	
}
.nav_dropdown-menu li a>span{
	
	display: inline-block;
	width: 100px;
}

.nav_dropdown-menu-userdiv{
	width: 92px;
	height: 57px;
	margin: 0px auto;
}

.dropdown-menu-userdiv>img:last-child{
	width: 30px;
	height: 30px;
}


/*
 * icon图标
 */
.nav_dropdown-menu li a i{
	font-size: 18px;
	font-weight: 700;
}
.nav_dropdown-menu_span_bottonBorder{
border-bottom:3px solid #f7b47f;
	
}






/*
 * 
 * 工作台卡片部分
 */

.workDesk_content{
	width: 100%;
	background-color: rgb(232,232,232);
	margin-top: 70px;
}

.wk_card{
	height: auto;
	margin-top: 6px;
	border-top: 2px solid rgb(19,144,211);
}
/*
 * 卡片头部
 */
.wk_card_head{
	/*height: 50px;*/
	padding: 10px 20px;
	border-bottom: 1px dashed #bfbfbf;
	background-color: white;
	position: relative;
}
/*
 * 卡片标题
 */
.wk_card_head_title{
	font-size: 18px;
	color: rgb(19,144,211);
	font-weight: 700;
	line-height: 29px;
	margin-bottom: 0;
	/*position: absolute;
	left: 6px;
	top: 10px;
	margin: 0px;
	width: 81px;
	height: 29px;*/
	/*margin-left: 10px;*/
}


.wk_card_head_title>a{
	border-left: 2px solid rgb(19,144,211);
	display: inline-block;
	padding-left: 10px;
	margin-left:10px ;
}

/*
 * 右边3个点
 */
.work_more{
	display: inline-block;
	width: 30px;
	height: 30px;
	position: absolute;
	top:10px ;
	right: 20px;
	background-image:url(../images/dot.png);
	background-size: 100% 100%;
}

/*
 * 卡片内容
 */
.wk_card_artical{
	background-color: white;
	position: relative;
	width: 100%;
	height: auto;
	padding:10px 20px 0px 20px  ;
}
.wk_card_artical a{
	vertical-align: middle;
	
}

.wk_card_artical img{
	width: 23px;
	height: 23px;
	vertical-align: middle;
}
/*
 * 卡片左边列表
 */
.wk_left_ul{
	width: 50%;
	margin: 0px;
	padding-left: 20px;
	/*padding:10px 0px 0px 20px;*/
	/*position: absolute;
	left: 0px;
	top: 0px;*/
}
.wk_left_ul li{
	/*width:90%;*/
	height: 36px;
	/*margin: 3px 0;*/
	/*padding: 3px;*/
}
.wk_left_ul li a{
	
	display: inline-block;
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-family: "Microsoft YaHei","Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;;
	color: rgb(0,0,0);
	line-height: 23px;
	
	
	white-space: nowrap;
	overflow: hidden; 
	text-overflow:ellipsis;
}
/*
 * 
 * 卡片右边列表
 */
.wk_right_ul{
	width: 50%;
	margin: 0px;
	/*padding:10px 0px 0px 15px;*/
	/*position: absolute;
	right: 0px;
	top: 0px;*/
}
.wk_right_ul li{
	/*width:90% ;*/
	height: 36px;
	/*margin: 3px 0;*/
	/*padding: 3px;*/
}
.wk_right_ul li a{
	display: inline-block;
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-family: "Microsoft YaHei","Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;;
	color: rgb(0,0,0);
	line-height: 23px;
	white-space: nowrap;
	overflow: hidden; 
	text-overflow:ellipsis;
}



/*******工作台-小卡片-我的日程******/


/*
 * 头部添加3个按钮样式
 */
.schedule_btn{
	width: 200px;
	height: 30px;
	position: absolute;
	left: 33%;
	top: 10px;
}
.schedule_btn>a:link,.schedule_btn>a:visited,.schedule_btn>a:hover{
	color: white;
}
	
.schedule_btn>a:active{
	color: white;
}

.schedule_btn_a{
	display: inline-block;
	padding: 3px 10px;
	margin-right: 3px;
	margin-top: 2px;
	border-radius: 20px;
	color: rgb(255,255,255);
	background-color: rgb(191,191,191);
	font-size: 14px;
}
.schedule_btn_active{
	background-color: rgb(240,134,37);
	
}

/*
 * 小卡片我的日程内容部分
 */
.schedule_artical{
	width: 100%;
	background-color: white;
}

.sch_ul{
	width: 100%;
	margin-bottom: 5px;
}
.sch_ul li:last-child{
	border-bottom: none;
} 
.sch_ul li{
	border-bottom: 1px dashed #bfbfbf;
	position: relative;
	padding: 5px 20px;
	/*clear: both;*/
}
.sch_title{
	width: 200px;
	height: 23px;
	padding: 5px 0px;
	white-space: nowrap;
	font-size: 14px;
	color:rgb(0,0,0);
	white-space: nowrap;
	overflow: hidden; 
	text-overflow:ellipsis;
	font-family: "Microsoft YaHei","Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.sch_datetime{
	position: absolute;
	right: 25px;
	top: 10px;
	font-size: 14px;
	color:rgb(0,0,0);
	font-family: "Microsoft YaHei","Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.sch_detail{
	width: 90%;
	height: 23px;
	padding: 2px 0px;
	margin-bottom: 0px;
	white-space: nowrap;
	overflow: hidden; 
	text-overflow:ellipsis;
	font-size: 12px;
	color: #959595;
	font-family: "Microsoft YaHei","Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*
 * 工作台-小卡片-校内通知部分
 */
.campus_notice{
	width: 100%;
	background-color: white;
}

.notice_ul{
	width: 100%;
	margin-bottom: 5px;
	
}
.notice_ul li{
	width: 100%;
	padding: 10px 20px;
	border-bottom: 1px dashed rgb(191,191,191);
}
.notice_ul li:last-child {
	border-bottom: none;
}



.notice_title{
	white-space: nowrap;
	overflow: hidden; 
	text-overflow:ellipsis;
	font-size: 14px;
	color:rgb(0,0,0);
	font-family: "Microsoft YaHei","Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.notice_datetime{
	margin: 0px;
	font-size: 12px;
    color: #959595;
	font-family: "Microsoft YaHei","Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}


/****************工作台-小卡片-个人中心******************/
.pers_center_divl{
	float: left;
	width: 55px;
	height: 55px;
	line-height: 55px;
}
.pers_center_divl>img{
	width: 40px;
	height: 40px;
}
.pers_center_divr{
	/*width: 70%;*/
	height: 100%;
}
.pers_center_divr_p1{
	margin: 5px 0 5px 0;
	font-size: 14px;
	color: black;
	font-family: "Microsoft YaHei","Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.pers_center_divr_p1>span:first-child{
	margin-right: 20px;
}
.pers_center_divr_p1>span:last-child{
	float: right;
}
.pers_center_divr_p2{
	margin: 5px 0 5px 0;
	font-size: 12px;
	color: #1295d8;
	font-family: "Microsoft YaHei","Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

/******************工作台-小卡片-工资查询***********************/

.salary_title{
	padding: 10px 20px;
}
.salary_title>p:first-child{
	font-size: 14px;
	color: black;
	font-family: "Microsoft YaHei","Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.salary_title_p{
	font-size: 12px;
	color: black;
	font-family: "Microsoft YaHei","Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.salary_title_p>span{
	display: inline-block;
	width: 45%;
	padding-left: 10px;
	white-space: nowrap;
	overflow: hidden; 
	text-overflow:ellipsis;
}


#salary_div{
	width: 100%;
	height: 250px;
}










/****************************日程主页***************************/



.schedule_container{
	padding: 0px 20px;
	padding-bottom: 10px;
	
}
.schedule_menu{
padding: 10px 20px 15px 20px;
}
.date_mounth{
	color: rgb(19,144,211);
	/*text-align: center;*/
	width: 75px;
}
.schedule_menu>div:first-child{
	padding:0 0 0 0px;
	
}
.schedule_menu>div:last-child{
	padding:0;
	text-align: right;
}
.schedule_menu>div>i{
	margin: 0 3px;
	color: rgb(19,144,211);
}

.shcedule_menu_right{
	padding: 0 20px 0 0;
}
.shcedule_menu_right>i,.shcedule_menu_right>a{
	float: right;
	line-height: 20px;
}




/*
 * 日历控件
 */

.date_table{
	display: table;
	text-align: center;
	width: 100%;
	height:300px ;
}
.date_table th{
	text-align: center;
}
/*
 * 周六和周日所在列为红色
 */
.date_table tr>th:first-child,.date_table tr>th:last-child,.date_table tr>td:first-child,.date_table tr>td:last-child{
	color:#959595;
}

.date_table td{
	position: relative;
	border-radius: 15px;
	font-size: 18px;
}
.date_table td div{
	border: 5px solid rgba(19,144,211,1);
	width: 0px;
	height: 0px;
	border-radius: 50%;
	margin: 10px auto;
}
.date_table_div td>div{
	position: absolute;
	left: 50%;
	margin-left: -2px;
}
.table_dot_hidden{
	visibility: hidden;
}
/*
 * 被选中的日期颜色
 */
.table_day_td_choosen{
	background-color: #BFBFBF;
	color: white;
}

/*
 * 原点颜色变灰色
 */
.grey{
border: 5px solid rgba(176,176,176,1);
	
}






/*
 * 具体日程卡
 */
.sch_details{
	border-top: 2px solid red;
	width: 100%;
	margin-bottom: 5px;
	background-color: rgb(238,238,238);
	padding: 0;
}
.sch_details>p:first-child{
	padding: 5px 20px;
	margin: 0;
	font-size: 14px;
}
.sch_details>p>i{
	color: #959595;
	margin-left: 5px;
	float: right;
	line-height: 20px;
}
.sch_detail_card{
	padding: 5px 20px;
	border-top: 1px dashed white;
}
.sch_detail_card>span{
	display: inline-block;
	width: 100%;
	white-space: nowrap;
	overflow: hidden; 
	text-overflow:ellipsis;
}
.sch_date{
	
}
.sch_date>span{
	
}
.sch_location{
	
	margin-bottom: 5px;
	width: 48%;
	float: right;
	
}








.sch_details_color1{
	border-color: rgb(108,181,63);
}
.sch_details_color2{
	border-color: rgb(19,144,211);
}








/************添加日程**********/

.schedule_add{
	width: 100%;
	position: relative;
}
.schedule_add_header{
	/*width: 100%;*/
	height: 50px;
	border-bottom: 1px solid rgb(187,187,187);
	font-size: 18px;
	font-weight: 700;
	padding-left:20px ;
	line-height: 50px;
	background-color: rgb(255,255,255);
}

.sch_add_cont_li{
	height: 70px;
	border-bottom: 1px dashed rgb(222,229,231);
	padding: 10px 20px;
}

.sch_add_title{
	font-size: 14px;
	color: rgb(0,0,0);
	margin: 5px 0px;
}
.sch_add_input{
	width: 95%;
	height: 35px;
	padding-left: 10px;
	color: rgb(154,154,154);
}
.sch_add_input_date{
	width: 60%;
}
.sch_add_textarea{
	width: 95%;
	height: 100px;
	padding-left: 10px;
	padding-top: 10px;
	color: rgb(154,154,154);
	
}
.sch_add_cont_li_textarea{
	height: 140px;	
}



/*
 * 添加日程，填写的详细信息
 */

/*
 * 每个小块的DIV
 */
.add_info_contain{
	width: 100%;
	height: 50px;
	border-bottom: 1px solid rgb(239,239,239);
}
/*
 * 左边的label
 */
.add_info_label{
	width: 25%;
	height: 100%;
	padding-left:20px ;
	height: 100%;
	font-size: 14px;
	color: rgb(0,0,0);
	line-height: 50px;
	font-weight: normal;
	margin-right: 10px;
}
/*
 * 右边 的输入框
 */
.add_info_input{
	width: 60%;
	height: 47px;
	border: none;
	outline: none;
	color: rgb(178,178,178);
	background-color: rgb(255,255,255);
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}


/**备注框DIV**/
.add_info_beizhu{
	width: 100%;
	height: 200px;
	border-bottom: 1px solid rgb(239,239,239);
	padding: 10px 20px;
}
.add_info_beizhu>p{
	/*padding-left: 20px;*/
	font-size: 14px;
	color: rgb(0,0,0);
	margin: 0 0 10px 0;
}
.add_info_beizhu>textarea{
	width: 100%;
	height: 140px;
	padding: 5px 10px;
}


/**底部的按钮  确认和取消**/
.sch_add_btndiv{
	width: 100%;
	height: 150px;
	position: relative;
	box-sizing: border-box;
	text-align: center;
	padding-top: 80px;
}
.sch_add_cancel{
	width: 60px;
	height: 30px;
	background-color: #fff;
	color: #58666e;
	border:1px solid #d8e1e3;
	margin-right: 20px;
}
.sch_add_confirm{
	background-color: #067ebe;
	border:1px solid #d8e1e3;
	color: #fff;
	width: 60px;
	height: 30px;
}















/***************订阅***************/

.subscribe_content{
	width: 100%;
	height: auto;
	margin-top: 70px;
	background-color: rgb(244,246,246);
}
.subscribe_card{
	width: 100%;
	background-color: rgb(255,255,255);
	/*margin-bottom: 10px;
	margin-top: 10px;*/
}
.subscribe_card_head{
	    border-top: 2px solid rgb(19,144,211);
}

/****已订阅*****/
.subscribe_card_pic_container{
	width: 100%;
	padding: 10px 0px 10px 20px;
	clear: both;
	display: table;
}
.subscribe_card_pic{
	display: inline-block;
	width: 100px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border: 1px solid #e7e7e7;
	margin: 5px 0;
	font-size: 14px;
}

/****未订阅*****/














/*******************************************咨询****************************************************************/
/*
 * *****************************************咨询中心
 */
.news_center_container{
	width: 100%;
	/*height: 500px;*/
	margin-top: 70px;
	background-color: rgb(255,255,255);
}
.news_center_search{
	width: 100%;
	height: 40px;
	margin-bottom: 5px;
	border-bottom: 1px solid #BFBFBF;
}
.news_searchInput{
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	padding:5px 20px ;
	text-align: center;
}
.news_center_menu{
	width: 100%;
	height: 40px;
	border-top: 2px solid rgb(19,144,211);
	border-bottom: 1px dashed  #BFBFBF;
}

/*
 * 咨询中心的下拉菜单容器div
 */
.news_center_divContainer{
	margin: 0px;
	border-top: 1px solid rgb(45,156,204);
	border-bottom: 1px dashed rgb(232,232,232);
	position: relative;

}
.news_center_divContainer>div{
	height: 100%;
	padding: 10px 0px 10px 0px;
}
/*
 * 咨询栏目
 */
.news_center_items{
	width: 400%;
	position: absolute;
	/*left: 0;*/
	top: 100%;
	padding-top: 0px;
	padding-bottom: 0px;
	border: 0px !important;
}

.news_center_items>li{
	height: 45px;
	border-bottom: 1px solid #BFBFBF;
	padding-left: 20px;
	line-height: 45px;
}

/*
 * 出版时间
 */
.news_center_publishTime{
	width:400%;
	position: absolute;
	left: -100%;
	top: 100%;
	padding-top: 0px;
	padding-bottom: 0px;
	border: 0px;
}
.news_center_publishTime>li{
	height: 45px;
	border-bottom: 1px solid #BFBFBF;
}
.news_center_publishTime>li>a{
	height: 100%;
	line-height: 45px;
}
.news_itemsDiv{
	font-size: 14px;
	font-family: "Microsoft YaHei","Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: center;
}
.news_itemsDiv>i{
	padding-left: 2px;
	
}
.newsCenter_subscribeBtn{
	text-align: right;

}
.newsCenter_subscribeBtn>a{
	padding-right: 20px;
	font-size: 14px;
	color: rgb(66,139,202);
	
}

/**********咨询中心下面的正文内容***********/

.news_center_content{
	height: 60px;
	width: 100%;
	border-bottom: 1px dashed #BFBFBF;
	padding: 10px 20px;
	margin-bottom: 0px;
}
.news_center_content>li{
	border-left: 2px solid rgb(18,149,216);
	
}
.newsCenter_items_pTitle{
	font-size: 14px;
	color: rgb(0,0,0);
	font-family: "Microsoft YaHei","Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
	padding-left: 10px;
}
.newsCenter_items_pState{
	font-size: 12px;
    color: #959595;
	font-family: "Microsoft YaHei","Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
	padding-left: 10px;
}
.newsCenter_items_pState>span{
	margin-right: 10px;
}
.newsCenter_items_pTitle,.newsCenter_items_pState{
	margin-bottom: 0px;

	white-space: nowrap;
	overflow: hidden; 
	text-overflow:ellipsis;
}




/*****************************咨询订阅*********************************/
/*.news_card_pic{
	display: inline-block;
	display: table;
	width: 45%;
	height: 40px;
	text-align: center;
	line-height: 40px;
	vertical-align: middle;
	border: 1px solid #e7e7e7;
	margin: 5px 0;
	margin-left: 10px;
	font-size: 14px;
}

.news_card_pic>span{
	display: inline-block;
	
	margin: auto;
	vertical-align: middle;
	
}*/

.news_card_pic1{
	width: 45%;
	display: table;
	height: 42px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #e7e7e7;
	float: left;
	margin: 5px 5% 5px 0px;
	vertical-align: middle;
	padding: 0 10px;
	overflow: hidden;
}

.news_card_pic1>div{
	display: table-cell;
	vertical-align: middle;
	
	
}



.news_card_title{
	width: 100%;
	display: inline-block;
	height: 40px;
	text-align: center;
	line-height: 40px;
	margin: 5px 0;
	font-size: 14px;
	text-align: left;
}
/*****************************资讯详情*********************************/
.news_details_container{
	background-color: white;
}
.news_details_container img{
	position: relative;
	left: 50%;
	margin-left: -100px;
	width: 200px;
}
.news_details_title{
	font-size: 18px;
	font-weight: 700;
	padding: 15px 20px 0px 20px;
	margin-bottom: 5px;
}

.news_details_state{
	padding: 0px 20px;
	margin-bottom: 0px;
	height: 30px;
	line-height: 30px;
	position: relative;
}
.news_details_time{
	
}
.news_details_collect{
	position: absolute;
	right: 20px;
}
.news_details_collect>img{
	vertical-align: center;
	width: 35px;
	height: 30px;
}

.news_details_src{
	display: inline-block;
	padding-left: 20px;
	margin-bottom: 20px;
	
}
.news_details_content{

	padding: 0px 20px;
	text-indent: 25px;
}

.news_details_preNext{
	padding: 0px 20px;
}
.news_details_pre,.news_details_Next{
	white-space: nowrap;
	overflow: hidden; 
	text-overflow:ellipsis;

}


/***************************************************应用中心********************************************/

.application_center_content{
	margin-top: 75px;
	width: 100%;
	height: auto;
}
.application_center_title{
	height: 50px;
    padding: 10px 10px;
    border-bottom: 1px dashed #bfbfbf;
    background-color: white;
}
.application_center_title{
	font-size: 18px;
    color: rgb(19,144,211);
    font-weight: 700;
    border-top: 2px solid rgb(19,144,211);
}
.application_center_itemsDiv{
	width: 100%;
	height: auto;
	padding:10px 20px 0px 20px  ;
}
.application_center_item{
	display: inline-block;
	width: 45%;
	height: 100%;
	padding-bottom: 10px;
	margin-right: 10px;
	font-size: 14px;
	font-family: "Microsoft YaHei","Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;;
	color: rgb(0,0,0);
	line-height: 23px;
	white-space: nowrap;
	overflow: hidden; 
	text-overflow:ellipsis;
	
}
.application_center_item>img{
	width: 23px;
    height: 23px;
    vertical-align: middle;
}

   
/****************************************收藏中心***************************************************/
/*
 * 内容容器
 */
.collection_content_div{
	width: 100%;
	height: auto;
	margin-top: 70px;
	
}
/*
 * 后退的DIV
 */
.top_backDiv{
	width: 100%;
	height: 40px;
	background-color: rgb(6,126,190);
	color: white;
	font-size:16px;
	font-weight:700;
	margin-top: 70px;
	line-height: 40px;
	padding-left:20px ;
}
/*
 * 后退按钮
 */
.top_backDiv>a{
	color:white;
	margin-right: 10px
}
/*
 * 选择菜单
 */
.collection_content_menu{
	margin-left: 0px !important;
	margin-right: 0px !important;
	height: 40px;
	padding: 5px 0px;
	border-bottom: 1px solid rgb(45,156,204);
}
.collection_content_menu>div{
	height: 30px;
	padding: 0px;
	text-align: center;
	line-height: 30px;
}
.collection_service{
	
	border-right: 1px solid #BFBFBF;
}
.collection_application{
	border-right: 1px solid #BFBFBF;
}
.collection_news{
	
}

/*
 * 服务，应用的小容器DIV
 */
.collectin_itemDiv{
	margin:0px;
	border-bottom: 1px solid rgb(239,239,239);
	height: 50px;
	padding: 10px 20px;
}
.collectin_itemDiv>img{
	width: 30px;
	height: 30px;
	vertical-align: middle;
	margin-right: 10px;
}

/***应用**/
.collectin_appDiv{
	margin:0px;
	border-bottom: 1px solid rgb(239,239,239);
	height: 50px;
	padding: 10px 20px;
}
.collectin_appDiv>img{
	width: 30px;
	height: 30px;
	vertical-align: middle;
	margin-right: 10px;
}




/*
 * 资讯文章列表
 */
.collectin_newsDiv{
	border-bottom: 1px solid rgb(239,239,239);
	padding: 10px 20px;
}
.collect_news_pTitle{
	font-size: 14px;
	color: rgb(0,0,0);
	margin-bottom: 5px;
	font-family: "Microsoft YaHei","Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
	white-space: nowrap;
	overflow: hidden; 
	text-overflow:ellipsis;
}
.collect_news_pState{
	font-size: 12px;
    color: #959595;
    margin: 0px;
	font-family: "Microsoft YaHei","Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
	white-space: nowrap;
	overflow: hidden; 
	text-overflow:ellipsis;
}


/***********************************************服务中心***********************************************************/

/*
 * 中间下拉菜单
 */
.service_center_department{
	position: absolute;
	left: -100%;
}
.service_center_ways{
	position: absolute;
	left: -200%;
}
.service_center_object{
	position: absolute;
	left: -300%;
}

/*
 * 服务中心搜索栏
 */
.search_conditions{
	padding: 5px 10px;
}
.search_conditions>span{
	font-size: 12px;
	margin-right:5px ;
}
.search_conditions_span{
	font-size: 12px;
	color: #0683c3;
}


/*
 * 搜索结果
 */
.search_results{
	width: 100%;
	height:auto;
	border-top: 1px solid #BFBFBF;
	padding: 0px 10px;
}
.search_results_card{
	margin: 5px 0;
	padding: 0px;
	border: 1px solid #BFBFBF;
}
.search_results_imgDiv{
	padding-top: 10px;
	position: relative;
	height: 100%;
}
.search_results_imgDiv>img{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 50%;
	margin-left: -25px;
}
/*
 * 搜索结果状态栏
 */
.search_results_status{
	padding-left: 0px;
}
.search_results_status>p{
	height: 20px;
	margin: 10px 0;
	line-height: 20px;
}

.search_results_status>p:first-child{
	font-size: 14px;
	color: rgb(0,0,0);	
}
.search_results_status>p:nth-child(2){
	font-size: 12px;
	color: #959595;
}

.search_results_pTitle{
	font-size: 14px;
	color: rgb(0,0,0);
	font-family: "Microsoft YaHei","Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.search_results_pWay{
	font-size: 12px;
	color: #BFBFBF;
	font-family: "Microsoft YaHei","Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.search_results_pWay>i{
	margin-left: 10px;
}


/*
 * 红的的眼睛
 */
.eye{
	color: rgb(230,0,18);
}
/*
 * 收藏
 */
.star{
	color: rgb(250,215,51);
}
/*
 * 未收藏
 */
.unstar{
	color: rgb(160,160,160);
}

/*****************************服务详情************************/
.service_detail_container{
	width: 100%;
	height: auto;
	margin-top: 50px;	
}

.service_center_titleDiv{
	width: 100%;
	height: auto;
	padding: 10px 20px;
	/*border-bottom: 1px dashed #BFBFBF;*/
}

.service_center_title{
	font-size:18px;
	font-bold:700;
	color: rgb(0,0,0);
}
.service_center_title>i{
	color: rgb(251,140,0);
}
.service_center_status{
	font-size:16px;
}
.clickTo_collect{
	color: #BFBFBF;
	font-size: 12px;
	margin-left: 5px;
}
.clickTo_collect>i{
	color: rgb(251,140,0);
}
.enter_service{
	background-color: rgb(15,144,211);	
	border-radius: 5px;
	color: white;
	font-size: 12px;
	margin-left: 5px;
	padding: 5px 10px;
}

/*
 * 服务介绍
 */
.service_intro_title{
	color: rgb(19,144,211);
	padding: 10px 20px;
	border-bottom: 1px dashed #BFBFBF;
	border-top: 2px solid rgb(19,144,211);
}
.service_intro_title>p{
	margin-bottom: 0px;
}
.service_intro_title i{
	margin-right: 10px;
}
.service_intro_content{
	padding: 10px 0px;
}
.service_intro_content>p{
	color: balck;
	padding: 0 20px;
}
.service_intro_content>p:last-child{
	padding-bottom: 10px;
	border-bottom: 1px dashed #BFBFBF;
}

.handing_intro{
	text-indent: 25px;
	padding: 10px 20px;
	/*border-bottom: 1px dashed #BFBFBF;*/
	color: black;
}
.handing_intro>span{
	
}
/*
 * 
 * 流程服务
 */
.service_imgDiv{
	margin: 0px;
	padding: 10px 0px;
}
.service_imgDiv>p{
	border-bottom: 1px dashed #BFBFBF;
	margin-bottom: 0px;
	padding-bottom: 10px;
	padding-left:20px ;
}
.service_imgContainer{
	padding: 0px;
	text-align: center;
	margin-top: 10px;
}
.service_imgContainer>img{
	width: 100px;
	height: 100px;
	
}
.service_imgContainer>p{
	margin: 10px 0 0 0;
}
.service_imgContainer a{
	margin-left: 20px;
}

/*
 * 所需材料
 */
.needed_staff{
	margin-top: 20px;
}

.needed_staff>div:last-child{
	border-bottom: none;
}
.needed_staff>p{
	padding-left: 20px;
	margin: 0px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #BFBFBF;
	
}
.needed_staff_Div{
	margin: 0px;
	padding: 0px 20px;
	border-bottom: 1px dashed #BFBFBF;
	
}
/*
 * 左边的图标
 */
.needed_staff_Div>div:first-child{
	text-align: center;
	/*border-bottom: 1px dashed #BFBFBF;*/
	padding: 10px 0px;
}
.needed_staff_Div>div:first-child>img{
	width: 50px;
	height: 50px;
	text-align: center;
}
/*
 * 右边的附件名以及点击下载图标
 */
.needed_staff_Div>div:last-child{
	/*border-bottom: 1px dashed #BFBFBF;*/
	padding: 10px 0px;
	
}
.needed_staff_Div>div:last-child i{
	margin-right: 10px;
}

.needed_staff_Div>div:last-child a{
	color: rgb(66,139,202);
}


/*
 * 用户评价
 */
.user_comment{
	width: 100%;
	height:auto;
}
.user_comment_p{
	border-top: 2px solid rgb(19,144,211);
	border-bottom: 1px dashed #BFBFBF;
	padding: 10px 20px;
	
}
.user_comment_pTitle{
	color: rgb(19,144,211);
}
.user_comment_pTitle>i{
	margin-right: 10px;
}
.user_comment_p>a{
	float: right;
	margin-top: 2px;
}

.user_comment_div{
	padding: 10px 20px;
	border-bottom: 1px dashed #BFBFBF;
	
}
.user_comment_div>img{
	width: 30px;
	height: 30px;
	margin-right: 20px;
}



/********************************************消息中心************************************/

.message_menu{
	margin: 0px;
	border-bottom: 1px solid rgb(239,239,239);
	padding: 5px 0px;
}
.message_menu>div:first-child{
	border-right: 1px solid rgb(239,239,239);
	padding: 5px 10px;
	text-align: center;
	font-size: 16px;
}
.message_menu>div:last-child{
	padding: 5px 10px 5px 20px;
	font-size: 16px;
}


/*
 * 消息中心列表
 */

/*.message_list_div{
	margin: 10px 0 10px 0;
	
}
.message_list_div>div{
	padding-left: 0px;
}
.message_list_div>div:first-child{
	padding-left: 15px;
}
.message_list_div>div:nth-child(2){
	text-align: center;
	overflow: hidden; 
	text-overflow:ellipsis;
}
.message_list_div>div:last-child{
	float: right;
	text-align: right;
	padding-right: 15px;
	box-sizing: content-box;
}
.message_list_div img{
	width: 20px;
	height: 20px;
}
*/

/*.message_list>p{
	white-space: nowrap;
	overflow: hidden; 
	text-overflow:ellipsis;
	padding: 0 15px;
	margin-bottom: 0px;
}*/

.message_list_unRead,.message_list_all{
	width: 100%;
	height: 60px;
	border-bottom: 1px solid rgb(239,239,239);
	margin: 0px;
	padding:10px 10px;
}
.message_imgDiv{
	height: 100%;
	padding: 0px;
	position: relative;
}



.message_imgDiv img{
	width: 40px;
	height: 40px;
}
.message_imgDiv_div{
	width: 40px;
	height: 40px;
	margin: auto;
	position: relative;
}
.img_dot{
	position: absolute;
	top: -5px;
	right: -5px;
	border: 5px solid rgb(255,59,48);
	background-color:rgb(255,59,48) ;
	border-radius: 50%;
}



.message_detail{
	padding: 0px;
}

.message_detail>p{
	white-space: nowrap;
	overflow: hidden; 
	text-overflow:ellipsis;
	margin: 10px 0 0 0;
}
.message_detail>p:first-child{
	margin:0;
	
}
.message_detail>p:last-child{
	margin: 2px 0 0 0;
	font-size: 12px;
	color: #BFBFBF;
}

.message_detail>p>span{
	margin-right: 10px;
	white-space: nowrap;
	overflow: hidden; 
	text-overflow:ellipsis;
	font-size: 12px;
}
.message_detail>p>span:first-child{
	max-width: 45%;
	display: inline-block;

	
}

.message_detail>p>span:last-child{
	max-width: 45%;
	display: inline-block;
	float: right;
	
}

/**************************************待办中心**************************************/

.needToDo_menu{
	margin: 0;
	border-bottom: 2px solid rgb(19,144,211);
}
.needToDo_menu>div{
	height: 100%;
	padding: 10px;
	font-size: 16px;
	font-weight: normal;
}
.needToDo_menu>div:first-child{
	color: rgb(19,144,211);
	text-align: left;
	
	
}

.needToDo_menu>div:last-child{
	text-align: center;
	position: relative;
}
.needToDo_menu i{
	margin-left: 10px;
}
.autoOffice{
	color: rgb(255,152,0);
	/*color: rgb(251,140,0);*/
}
.autoOffice_dpmenu{
	position: absolute;
	left: -100%;
	width: 200%;
	padding: 0;
	border: 0px;
}
.autoOffice_dpmenu>li{
	height: 45px;
	padding: 0 20px;
	border-bottom: 1px solid #BFBFBF;
}
.autoOffice_dpmenu>li>a{
	height: 100%;
	padding: 0;
	line-height: 45px;
}


/*
 * 待办事项具体
 */
.neededToDo_detail{
	padding: 10px 20px 0px 20px;
	border-bottom: 1px dashed #BFBFBF;
}
.neededToDo_detail span{
	margin-right: 10px;
	color: #BFBFBF;
}



/*************************************************个人中心**********************************************/
.user_center_container{
	width: 100%;
	height: auto;
}
.user_center_container>div>p{
	padding: 10px 20px;
	border-bottom: 1px dashed #BFBFBF;
	color: rgb(19,144,211);
}

.user_center_container>div>span{
	font-size: 12px;
	color: #BFBFBF;
	margin-left:20px ;
}
.head_lg{
	width: 200px;
	height: 200px;
	/*padding: 5px;*/
	border:1px solid #BFBFBF ;
	margin: 20px auto;
	border-radius: 50%;
	overflow: hidden;
}
.head_lg>img{
	width: 100%;
	height: 100%;
}
.choose_head{
	margin-left: 20px;
	
}


.modify_account_message{
	margin-bottom: 10px;
}
.modify_password{
	margin-bottom: 10px;
}

.my_message_div{
	padding: 0 20px;
	
}
.my_message_div_item{
	font-size: 12px;
	color: black;
	font-family: "Microsoft YaHei","Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
	margin-bottom: 10px;
}




.modify_submitDiv{
	margin: 10px auto;
	text-align: center;
	margin-top: 100px;
}
.modify_submitDiv>a{
	display: inline-block;
	padding: 5px 20px;
	background-color: rgb(19,144,211);
	color: white;
	font-size: 14px;
	border-radius: 5px;
	/*margin-right: 20px;*/
}

.modify_submitDiv>a:first-child{
	margin-right:10px; 
}
.modify_submitDiv>a:last-child{
	margin-left:10px; 
}


/*******************************设置界面**************************************************/
.settings_container{
	width: 100%;
	height: auto;
}

.settings_head{
	font-size: 14px;
	text-align: center;
	padding: 10px;
	border-bottom: 1px solid rgb(239,239,239);
}
/*装载img 的DIV*/
/*.settings_head>div{
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
}*/
.settings_head img{
	width: 80px;
	height: 80px;
	margin: 5px;
	border-radius: 50%;
}
.settings_items{
	padding: 10px 20px;
	border-bottom: 1px solid rgb(239,239,239);
	font-weight: normal;
	color: #428bca;
}
.settings_items>span{
	margin-left: 10px;
	font-weight: normal;
	
}
.settings_items>i:last-child{
	float: right;
	line-height: 28px;
	font-weight: normal;
}
/*
 * 退出登陆
 */
.settings_logout{
	width: 100%;
	height: auto;
	margin-top: 100px ;
	text-align: center;
}
.settings_logout>a{
	padding: 10px 20px;
	border-radius:5px ;
	background-color: rgb(19,144,211);
	color: white;
}


/*******************************各级标题正文格式*****************************/
.firstClass_Title{
	font-size: 18px;
	font-weight: 700;
	font-family: "Microsoft YaHei","Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
	
}
.secondClass_title{
	font-size: 14px;
	font-family: "Microsoft YaHei","Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
	
}
.text{
	font-size: 12px;
	font-family: "Microsoft YaHei","Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
	
}










/***********************************************footer**********************************************/


.footer{
	width: 100%;
	height: 50px;
	background-color: rgb(116,116,116);
	position: relative;
}


.footer_container{
	height: 20px;
	width: 100%;
	position: absolute;
	top: 50%;
	margin-top: -10px;
	padding: 0 20px;
}

.footer_container span{
	font-size: 12px;
	color: white;
}
.footer_copy{
	float: left;
}
.footer_log{
	float: right;
}


/**********************************js需要用的样式****************************************/
.dsp{
	display: block;
}
.dspNone{
	display: none;
}

/**收藏中心服务资讯应用点击颜色变了**/
.collect_changeColor{
	color: rgb(255,152,0);
}


/**消息中心-未读消息/全部消息 的字体颜色***/

.msg_blue{
	color: rgb(19,144,211);
}
.msg_black{
	color: black;
}


/******************服务中心箭头旋转样式********************/
.rotateZ180{
	transform: rotateZ(-180deg);
	transform-origin: center;
	transition: transform .5s ease;
}

.rotateZ0{
	transform: rotateZ(0deg);
	transform-origin: center;
	transition: transform .5s ease;
}

/************************日历插件中的小DIV****************************/
/*正常情况添加的DIV是透明的，只占个位置*/
.transparentDot{
	border: 5px solid rgba(19,144,211,0);
}
/*该日有日程安排，显示蓝色点*/
.blueDot{
	border: 5px solid rgba(19,144,211,1);
}


.opacity0{
	opacity: 0;
}
.opacity1{
	opacity: 1;
}


.clickDayColor{
	background-color: #BFBFBF;
	/*color: rgb(0,0,0);*/
	color: white !important;
}
